:root {
  --alpha: 0.8;
}

html, body {
  height: 100%;
}

body {
  background-color: #191919;
  margin: 0;
  overflow-x: hidden;
}

p{
  font-family: 'Source Code Pro', monospace;
  color: rgba(255, 255, 255, var(--alpha));
  cursor: default;
  text-align: center;
}

::-moz-selection {
  background-color: rgba(0, 181, 204, 0.8);
}

::selection {
  background-color: rgba(0, 181, 204, 0.8);
}

.heading {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typo {
  color: rgba(255, 255, 255, var(--alpha));
  cursor: default;
  font-family: 'Source Code Pro', monospace;
  font-size: 10vmax;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  outline: none;
  padding: 0 10% 0 10%;
  text-align: center;
  transition: color 0.1s linear;
}
.typo2 {
  color: rgba(255, 255, 255, var(--alpha));
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  font-size: 2vmax;
  text-align: center;
  font-weight: bold;
}
